<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>input user</title>
    <link rel='stylesheet' href='/style/style.css' />
</head>

<body>
 <h2><%=head%></h2>
  <!-- <div class="forminput"> -->
    <form action="/user/insert/" method="post">
        First name:<br>
        <input class:"input" type="text" name="firstname" value="<%=firstname%>">
        <br> Last name:<br>
        <input class:"input" type="text" name="lastname" value="<%=lastname%>">
        <br> phone:<br>
        <input class:"input" type="text" name="phone" value="<%=phone%>">
        <br><br>
        <input type="submit" value="Submit">
    </form>
  <!-- </div> -->

<a href="/user/new">asasasas</a>
</body>

</html>
