<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/update/<%= user.id %>" method="post">
      <label>Firstname</label><br>
      <input type="text" name ="first_name" value="<%= user.firstName %>"><br>
      <label>Firstname</label><br>
      <input type="text" name ="last_name" value="<%= user.lastName %>"><br>
      <label>Phone</label><br>
      <input type="text" name ="phone" value="<%= user.phone %>"><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
