<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EXPRESS From Scratch</title>
  </head>
  <body>
    <center>
      <h1>EXPRESS From Scratch</h1>
      <a href="/user">View User</a>
    </center>
  </body>
</html>
