<!DOCTYPE html>
<html>
  <head>
    <title>Update User</title>
  </head>
  <body>
    <h2>Update User</h2><br><br>
    <form action="/update/<%= data.id%>" method="POST" style="width:50%">
      <fieldset>
        <legend>Edit user:</legend>

          First name:<br>
          <input type="text" name="firstname" value=<%= data.firstname %>><br>
          Last name:<br>
          <input type="text" name="lastname" value=<%= data.lastname %>><br>
          Phone:<br>
          <input type="text" name="phone" value=<%= data.phone %>><br><br>

          <input type="submit" value="Edit User">
      </fieldset>
    </form>
  </body>
</html>
