<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <form action="createuser" method="POST">
        Firstname: <input type="text" name="firstname"> <br>
        Lastname: <input type="text" name="lastname"> <br>
        Phone: <input type="text" name="phone"> <br>
        <input type="submit" value="Add User">
    </form>
</body>
</html>